body {
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid Black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: MediumAquaMarine;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav a {
  color: Black;
  padding: 12px;
}
